{
    "BancoDeDados": {

        "BancoPrincipal": {
            "ip": "Abaixo, coloque o ip do seu banco de dados",
            "ip": "10.5.4.8",

            "user_dataBase": "Abaixo, coloque o usuario do seu banco de dados",
            "user_dataBase": "myName",

            "pass_dataBase": "Abaixo, coloque a senha do seu banco de dados",
            "pass_dataBase": "myHardPass",

            "nameDB_sataBase": "Abaixo, coloque o nome do seu banco de dados",
            "nameDB_sataBase": "theDataBaseName"
        }

    }

}
